-r requirements.txt
black==22.10.0
flake8==5.0.4
flake8-debugger==4.1.2
flake8-docstrings==1.6.0
flake8-isort==5.0.0
flake8-string-format==0.3.0
flake8-tuple==0.4.1
isort==5.10.1
pytest==7.2.0
pytest-cov==4.0.0
pytest-env==0.8.1
twine==4.0.1
types-requests==2.28.11.2
wheel==0.37.1
