cherrypy==18.8.0
cloudevents==1.8.0
ConfigArgParse==1.5.3
isodate==0.6.1
lxml==4.9.2
nowplaypadgen==0.4.8
opentelemetry-api==1.15.0
opentelemetry-exporter-otlp==1.15.0
opentelemetry-sdk==1.15.0
pylast==5.1.0
pytz==2022.7
rabe-cridlib==0.5.0
requests==2.28.1
Werkzeug==2.2.2
