-r requirements.txt
black==22.1.0
flake8==4.0.1
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-isort==4.1.1
flake8-string-format==0.3.0
flake8-tuple==0.4.1
isort==5.10.1
mock==4.0.3
pytest==6.2.5
pytest-cov==3.0.0
pytest-env==0.6.2
twine==3.8.0
types-requests==2.27.8
wheel==0.37.1
